.login-container {
  /* background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png'); */
  /* background-size: cover; */
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto';
}
.login-sub-container {
  background-color: #272727;
  padding: 20px 25px 30px 25px;
  border-radius: 8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.username-password-label {
  color: #f8fafc;
  font-size: 13px;
  margin-bottom: 5px;
}
.username-password-input {
  outline: none;
  background-color: transparent;
  height: 37px;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid #64748b;
}
.web-logo {
  width: 100px;
  margin-bottom: 38px;
  margin-top: 10px;
}
.login-btn {
  background-color: #6366f1;
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: #f8fafc;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0px;
}
.login-form-container {
  width: 100%;
}
.err-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .login-sub-container {
    background-color: #272727;
    padding: 20px 29px 35px 29px;
    border-radius: 8px;
    width: 380px;
  }
  .username-password-label {
    font-size: 14px;
  }
  .username-password-input {
    height: 45px;
    padding: 13px;
    font-size: 15px;
  }
  .web-logo {
    width: 130px;
    margin-bottom: 45px;
    margin-top: 15px;
  }
  .login-btn {
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .err-msg {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
